

body {
  color: var(--black);
  font-size: 16px;
  font-family: ubuntu;
}

.section {
  max-width: 768px;
  margin: 0 auto;
  padding: 1rem;
}

.title {
  text-align: center;
}

.textarea {
  width: 100%;
  height: 4rem;
  padding: 1rem;
  margin-bottom: 1rem;
  border: 1px solid var(--yellow);
}

.textarea:hover,
.textarea:focus {
  border: 1px solid var(--dark-red);
  outline: none;
}

.btn {
  display: block;
  padding: 1rem;
  margin: 0 auto 1rem;
  border: none;
  font-weight: bold;
  color: var(--white);
  background-color: var(--red);
  cursor: pointer;
}

.btn-yellow {
  /* color: var(--black); */
  background-color: var(--orange);
}

.btn:hover {
  background-color: var(--medium-red);
}

.btn:focus {
  background-color: var(--dark-red);
}

.hide {
  display: none;
}
