:root {
  --yellow: #FEC300;
  --orange: #F55533;
  --red: #C83139;
  --medium-red: #91253E;
  --dark-red: #571A45;
  
  --white: #FAFAFA;
  --gray: #888888;
  --light-gray: #DEDEDE;
  --black: #333333;
}